In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_India"

page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [46]:
# print(soup)

In [4]:
# wikitable sortable jquery-tablesorter
table = soup.find_all('table')[0]

In [47]:
# print(table)

In [12]:
world_titles = table.find_all('th')

In [13]:
world_titles

[<th align="center" colspan="2">Rank
 </th>,
 <th align="center" colspan="2">Forbes <br/>2000 rank
 </th>,
 <th align="center">Name
 </th>,
 <th align="center">Headquarters
 </th>,
 <th align="center">Revenue<br/>(billions <br/>US$)
 </th>,
 <th align="center">Profit<br/>(billions <br/>US$)
 </th>,
 <th align="center">Assets<br/>(billions <br/>US$)
 </th>,
 <th align="center">Value<br/>(billions <br/>US$)
 </th>,
 <th align="center">Industry
 </th>]

In [14]:
world_table_titles = [title.text.strip() for title in world_titles]
print(world_table_titles)

['Rank', 'Forbes 2000 rank', 'Name', 'Headquarters', 'Revenue(billions US$)', 'Profit(billions US$)', 'Assets(billions US$)', 'Value(billions US$)', 'Industry']

In [15]:
import pandas as pd

In [41]:
df = pd.DataFrame(columns= world_table_titles)
df

Empty DataFrame
Columns: [Rank, Forbes 2000 rank, Name, Headquarters, Revenue(billions US$), Profit(billions US$), Assets(billions US$), Value(billions US$), Industry]
Index: []

In [42]:
column_data = table.find_all('tr')

In [43]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row = [data.text.strip() for data in row_data]
    individual_row_data = [individual_row[i] for i in range(11) if i not in [1,3]]
    length = len(df)
    df.loc[length] = individual_row_data

In [44]:
df

,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
0,1,54,Reliance Industries,Mumbai,86.85,7.81,192.59,228.63,Conglomerate
1,2,130,TATA Group,Mumbai,150,139,160,350,Conglomerate
2,3,105,State Bank of India,Mumbai,54.52,4.32,696.51,58.39,Banking
3,4,154,HDFC Bank,Mumbai,22.51,5.11,280.16,98.28,Banking
4,5,205,ICICI Bank,Mumbai,21.89,3.01,226.39,67.9,Banking
5,6,229,Oil and Natural Gas Corporation,New Delhi,66.28,6.00,75.51,28.62,Oil and gas
6,7,269,HDFC,Mumbai,18.48,2.91,118.61,52.30,Financials
7,8,358,Indian Oil Corporation,New Delhi,72.20,3.72,51.73,16.53,Oil and gas
8,9,385,Tata Consultancy Services,Mumbai,25.73,5.14,18.68,172.79,Infotech
9,10,408,Tata Steel,Mumbai,31.07,5.01,34.62,20.42,Iron and steel
10,11,432,Axis Bank,Mumbai,11.41,1.71,152.12,31.32,Banking
11,12,484,NTPC Limited,New Delhi,17.00,2.17,55.00,20.32,Utilities
12,13,514,Larsen & Toubro,Mumbai,20.53,1.12,40.82,31.13,Capital goods
13,14,539,Infosys,Bangalore,16.33,2.97,15.56,87.21,Infotech
14,15,574,JSW Steel Ltd,Mumbai,9.50,0.50,17.40,20.10,Iron and steel
15,16,593,Vedanta Limited,Mumbai,16.38,2.63,25.3,20.21,Metals and mining
16,17,615,Bharat Petroleum,Mumbai,43.2,2.59,25.18,11.16,Oil and gas
17,18,628,Kotak Mahindra Bank,Mumbai,7.92,1.46,41.57,44.83,Banking
18,19,643,Hindalco Industries,Mumbai,24.33,1.60,27.45,15.11,Metals and mining
19,20,710,Bharti Airtel,New Delhi,14.98,0.406,48.72,56.80,Telecommunication
20,21,726,Coal India,Kolkata,14.03,2.06,22.3,16.30,Metals and mining
21,22,729,Tata Motors,Mumbai,39.04,−2.44,42.32,22.12,Automotive
22,23,789,Power Finance Corporation,New Delhi,10.15,1.86,106.71,4.10,Financials
23,24,809,HCL Technologies,Noida,11.19,1.49,11.57,39.09,Infotech
24,25,820,Wipro,Bangalore,10.07,1.64,13.69,38.44,Infotech
25,26,822,Power Grid Corporation of India,Gurgaon,5.61,2.19,34.56,20.57,Utilities
26,27,827,Grasim Industries,Mumbai,12.35,0.87,36.94,14.77,Diversified
27,28,846,ITC Limited,Kolkata,7.91,2.00,10.04,42.06,Consumer Goods
28,29,876,Bajaj Finserv,Pune,8.64,0.56,41.54,32.15,Financials
29,30,925,Canara Bank,Bangalore,12.68,0.73,164.71,5.53,Banking
30,31,954,Bank of Baroda,Vadodara,12.06,0.68,167.76,7.54,Banking
31,32,1000,Union Bank of India,Mumbai,11.28,0.67,148.94,3.62,Banking
32,33,1041,Punjab National Bank,New Delhi,12.1,0.57,178.94,5.10,Banking
33,34,1063,Mahindra & Mahindra,Mumbai,11.59,0.73,22.36,14.96,Automotive
34,35,1171,Steel Authority of India,New Delhi,12.98,1.79,15.87,5.48,Iron and steel
35,36,1215,GAIL,New Delhi,10.98,1.53,12.03,9.52,Oil and gas
36,37,1348,Indian Bank,Chennai,6.17,0.65,89.96,2.63,Banking
37,38,1362,Sun Pharmaceutical,Mumbai,5.10,0.87,9.30,28.97,Pharmaceuticals
38,39,1514,Indian Railway Finance Corporation,New Delhi,2.55,0.82,58.03,3.83,Financials
39,40,1453,Adani Enterprises,Ahmedabad,7.86,0.09,11.09,32.70,Consumer Goods
40,41,1472,IndusInd Bank,Mumbai,5.09,0.58,51.26,9.72,Banking
41,42,1525,Bank of India,Mumbai,6.26,0.39,98.51,2.66,Banking
42,43,1489,Adani Ports & SEZ Limited,Ahmedabad,2.10,0.67,11.36,24.12,Shipping
43,44,1570,Adani Green Energy,Ahmedabad,0.41,0.01,3.93,59.06,Renewable energy
44,45,1656,Rajesh Exports,Bangalore,30.00,0.15,2.7,2.50,Gems and jewellery
45,46,1687,Asian Paints,Mumbai,3.77,0.41,2.84,39.69,Chemicals
46,47,1705,Adani Transmission,Ahmedabad,1.49,0.16,6.11,38.15,Utilities
47,48,1730,Tech Mahindra,Pune,5.72,0.69,5.51,16.61,Infotech
48,49,1746,Adani Total Gas,Ahmedabad,0.35,0.07,0.50,34.74,Oil and gas
49,50,1756,Bajaj Auto,Pune,4.54,0.83,4.51,13.79,Automotive
50,51,1759,DMart,Mumbai,4.00,0.20,1.93,34.12,Retail
51,52,1759,Adyar Ananda Bhavan,Chennai,4.00,0.20,1.93,34.12,Retail

In [45]:
df.to_csv(r'E:\Companies.csv', index=False)